{% extends 'index.html' %}
{% load staticfiles %}

{% block title %}
  Creacion de Tareas
{% endblock title %}

{%block imagen %}
  {%static 'assets/img/crear_usuario.png'%}
{% endblock imagen %}

{% block titulo %}
  Crear Tarea
{% endblock titulo %}

{%block titulo_principal %}
  Crear Tareas
{% endblock titulo_principal %}

{%block titulo_secundario %}

{% endblock titulo_secundario %}
{% block body %}

<form method="POST">
  {% csrf_token %}
  {% if error %}
    <h2>{{ error }}</h2>
  {% else %}

    {{ tarea_form.as_p}}

  {% endif %}

    <button type = "submit">Crear</button>
  
 
  
</form>

{% endblock body %}

{%block post %}
{%endblock post %}
