{% extends 'index.html' %}

{% load staticfiles %}


{% block title %}
  Eliminar usuario
{% endblock title %}

{%block imagen %}
  {%static 'assets/img/eliminar_usuario.jpeg'%}
{% endblock imagen %}

{% block titulo %}
  Lista de usuarios
{% endblock titulo %}

{%block titulo_principal %}

{% endblock titulo_principal %}

{%block titulo_secundario %}

{% endblock titulo_secundario %}

{% block body %}
<form method="POST">
      {% csrf_token %}
      <h3>¿Desea eliminar el usuario {{ usuario.nombre_usuario }}?</h3>
        <button type = "submit">Eliminar</button>
        <a href="{% url 'gestion_usuario:listar_usuario' %}">Cancelar</a>
</form>
{% endblock body %}

{%block post %}
{%endblock post %}
