{% block body %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <h3>Lista de Usuarios</h3>
            
            <table class="table bg-white rounded border">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre de Usuario</th>
                        <th scope="col">Correo</th>
                        <th scope="col">Nombres</th>
                        <th scope="col">Apellidos</th>
                        <th scope="col">Usuario Funcionario</th>
                        <th scope="col">Usuario Administrador</th>
                        <th scope="col">Usuario Diseñador</th>
                        <th scope="col">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for usuario in usuarios %}
                    <tr>
                        <td>{{ usuario.id_usuario }}</td>
                        <td>{{ usuario.nombre_usuario }}</td>
                        <td>{{ usuario.correo }}</td>
                        <td>{{ usuario.nombres }}</td>
                        <td>{{ usuario.apellidos }}</td>
                        <td>{{ usuario.usuario_funcionario }}</td>
                        <td>{{ usuario.usuario_administrador }}</td>
                        <td>{{ usuario.usuario_diseñador_procesos }}</td>
                        <td>
                            <a href="{% url 'gestion_usuario:editar_usuario' usuario.id_usuario %}">Editar</a>
                            <a href="{% url 'gestion_usuario:eliminar_usuario' usuario.id_usuario %}">Eliminar</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock body %}